/* 
    Created on : 29 Jan 2019, 9:47:40 AM
    Author     : Gordon Fleming
*/
body{
    background-color: #686c70; /* Dark Gray */
}
h3{
    font-size: 24px;
    font-family: "Arial";
    color: white;
}
h4{
    color: white;
}
input[type=text] {
  width: 100%;
  padding: 4px 6px;
  margin: 2px 0;
  box-sizing: border-box;
}
select{
  width: 100%;
  padding: 4px 6px;
  border: none;
  margin: -20px 0;
  border-radius: 16px;
  background-color: #f1f1f1;
}
#hidden{    /* Hides specific web elements from the user */
    display:none;
}
#conainer-booking{
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
  height: 90%;
  overflow: auto;
}
#conainer-results{
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
  height: 60%;
  overflow: auto;
}
#container-query{
  /*
  border-radius: 20px; 
  border-color: lightslategrey;
  background-color: darkgray;
  */
  padding-left: 0px;
  padding-right: 0px;
  width: 700px;
  height: auto;
  overflow: auto;
}
#gname{
    
}
#gmail{
    
}
.Submit{
  background-color: white;
  border: none;
  color: black;
  padding: 6px 12px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
.Tick_Submit{
  position: static;
  background-color: lightgray;
  height: 34px;
  width: 34px;
  border: 0;  
  margin-left: 15px;
  border-radius: 50px;  
  padding-right: 0;
  padding-left: 0px;
  padding-bottom: 8px;
  font-size: 26px;
  cursor: pointer;
  transition: all 0.5s;
}
.Tick_Submit span {
  cursor: pointer;
  display: inline-block;
  position: static;
  transition: 0.5s;
  transform: rotate(-235deg);
}
.Tick_Submit span:after {
  content: '\02923';
  position: relative;
  transition: 0.5s;
}
.Tick_Submit:hover span {
    position: static;
    transform: rotate(125deg);
}
.bottom-right-help{
    right: 0;
    bottom: 0;
    position: absolute;
    padding-bottom: 25px;
    padding-right: 50px;
}
.bottom-left-info{
    left: 0;
    bottom: 0;
    position: absolute;
    padding-bottom: 25px;
    padding-left: 50px;
}
.profile-details{
    left: 1%;
    top: 8%;
    position: absolute;
    /*padding-top: 60px;*/
    /*padding-left: 20px;*/
}
.button {                                   /* Adapted from: https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_animate1 */
  display: inline-block;
  border-radius: 4px;
  background-color: #ffffff; /* White */
  border: none;
  color: #383a3d;           /* Dark Gray */
  text-align: center;
  font-size: 14px;
  padding: 8px 30px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: -0px;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button span:after {
  content: '\0226B';
  position: absolute;
  opacity: 2;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 25px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}
.GSignInCentered { /* Verically and horizontally aligns */
    position: absolute;
    width: 300px;                               /* Dimensions of google button */
    height: 60px;                              
    top: 50%;
    left: 50%;                                  /* Safety measures */
    -webkit-transform: translate(-50%, -50%);   /* Chrome */
    -moz-transform: translate(-50%, -50%);      /* Mozilla */
    -o-transform: translate(-50%, -50%);        /* Opera */
    -ms-transform: translate(-50%, -50%);       /* Internet Explorer */
    transform: translate(-50%, -50%);           /* Auto adjusts and adapts to screen size... */
}
.GSignOutCentered { /* Verically aligns offcenter and horizontally aligns center */
    position: absolute;
    width: 150px;                               /* Dimensions standard button */
    height: 35px;                              
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);           /* Auto adjusts and adapts to screen size... */
}
.top-left-GSignOut{
    left: 1%;
    top: 2%;
    position: absolute;
    /*padding-top: 15px;*/
    /*padding-left: 15px;*/
}
.right-booking-form{
    position: absolute;                             
    top: 47%;
    right: 2%;
    transform: translate(-3%, -52%); 
}
.left-results{
    position: absolute;                             
    top: 75%;
    left: 8%;
    transform: translate(-30%, -80%); 
}
.top-query-form{
  position: absolute;
  top: 16%;
  left: 50%; 
  transform: translate(-50%, -50%); 
}
.centerLogo{                                    /* Scales logo depending on screen size */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}
.center{
  display: block;
  margin-top: 6%;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
.form-radio1                                     /* adapted from: http://www.tipue.com/blog/radio-checkbox/ */
{                                                               /*Handles the maroon radio button*/
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     margin-top: -10px;
     display: inline-block;
     position: relative;
     background-color: white;
     color: #666;                                /* red */
     top: 10px;
     height: 30px;
     width: 30px;
     border: 0;
     border-radius: 50px;
     cursor: pointer;     
     margin-right: 7px;
     outline: none;
}
.form-radio1:checked::before
{
     position: absolute;
     font: 14px/1 'Open Sans', sans-serif;
     left: 11px;
     top: 7px;
     content: '\02143';
     transform: rotate(40deg);
}
.form-radio1:hover
{
     background-color: lightcoral;
}
.form-radio1:checked
{
     background-color: #8e2330;         /* Maroon */
}
label
{
     font: 300 16px/1.7 'Open Sans', sans-serif;
     color: white;
     cursor: pointer;
} 
.form-radio2                                     /* adapted from: http://www.tipue.com/blog/radio-checkbox/ */
{                                                           /*Handles the blue radio button*/
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     margin-top: -10px;
     display: inline-block;
     position: relative;
     background-color: white;
     color: #666;
     top: 10px;
     height: 30px;
     width: 30px;
     border: 0;
     border-radius: 50px;
     cursor: pointer;     
     margin-right: 7px;
     outline: none;
}
.form-radio2:checked::before
{
     position: absolute;
     font: 14px/1 'Open Sans', sans-serif;
     left: 11px;
     top: 7px;
     content: '\02143';
     transform: rotate(40deg);
}
.form-radio2:hover
{
     background-color: lightblue;
}
.form-radio2:checked
{
     background-color: #1830a5;     /* Blue */
}
.form-inline {                      /* Style the form - display items horizontally */
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.form-inline label {                /* Adds margins for each label */
  margin: 5px 10px 5px 10px;
}
.form-inline select{                /* Overides the width previously set */
    width: 18%;
}
.form-inline input{                 /* Overides the width previously set */
    width: 18%;
}
